
<form class="form-horizontal" method="POST" action="/create-bitcore-wallet">
  <fieldset>
    <!-- <legend>Legend</legend> -->
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label"></label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="brainsrc" placeholder="Enter a username to retrieve Brain Wallet info">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>


<!--
<form method="POST" action="/create-bitcore-wallet">
<input type="text" name="brainsrc">
<input type="submit" value="Go">
</form> -->
