<!DOCTYPE html>
<html lang="en">
   <% include  head %>
<body>
	<% include  header %>

	<div class="container">
	  <div class="row">
	    <div class="col-md-6"><% include  btc-data %></div>
	    <div class="col-md-6"><% include  enter-user-form %></div>
	  </div>
	</div>


</body>
</html>
