<!DOCTYPE html>
<html lang="en">
   <% include  head %>
<body>
	<% include  header %>

	<div class="container">
	  <div class="row">
	    <div class="col-md-6"><% include  btc-data %></div>
	    <div class="col-md-6"><% include  enter-user-form %></div>
	  </div>
	</div>

	<!--
   <form method="POST" action="/create-bitcore-wallet">
   	<input type="text" name="brainsrc">
   	<input type="submit" value="Go">
   </form> -->
</body>
</html>
